@font-face {
	font-family: alarmclock;
	src: url(../fonts/alarmclock.woff);
}

@font-face {
	font-family: bitwise;
	src: url(../fonts/bitwise.woff);
}

@font-face {
	font-family: computer_7;
	src: url(../fonts/computer_7.woff);
}

:root {
	--bgGreen: #072004;
	--textGreen: springgreen;
	--bgButton: #15440e;
	--bgButtonHover: #1f5217;
	--alarmred: rgb(175, 0, 0);
}

body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background-color: var(--bgGreen);
}

header {
	display: flex;
	justify-content: center;
	width: 90%;
	height: 05%;
	justify-content: center;
	padding: 30px;
	font-family: computer_7, Courier, monospace;
}

h1 {
	font-size: 300%;
	font-weight: bold;
	color: var(--textGreen);
	font-family: bitwise, Courier, monospace;
}

h2 {
	font-size: 180%;
	color: var(--textGreen);
	font-family: bitwise, Courier, monospace;
}

h3 {
	font-size: 150%;
	text-align: center;
	font-family: bitwise, Courier, monospace;
}

li {
	font-size: 100%;
	color: var(--textGreen);
	font-family: bitwise, Courier, monospace;
}

a {
	font-size: 100%;
	color: var(--textGreen);
}

a:visited {
	color: var(--textGreen);
}

#hud {
	display: flex;
	flex-direction: row;
	height: 15%;
	background-color: inherit;
	padding-left: 50px;
	padding-right: 50px;
}

#hud a {
	display: block;
	color: var(--textGreen);
}

#hud a:visited {
	color: inherit;
	color: var(--textGreen);
}

#hud-progress {
	display: flex;
	flex-direction: column;
	background-color: inherit;
	width: 50%;
	justify-content: center;
}

#progress-text {
	color: var(--textGreen);
	font-family: bitwise, Courier, monospace;
	font-size: 130%;
}

#progress-meter {
	justify-content:right;
	width: 90%;
	height: 3rem;
	border: 0.2rem solid var(--textGreen);
	border-radius: 50px;
	overflow: hidden;
}

#progress-meter-100 {
	height: 100%;
	background-color: var(--textGreen);
	width: 0%;
}

#hud-timer {
	display: flex;
	flex-direction: column;
	width: 30%;
	align-items: stretch;
	justify-content:end;
	background-color: black;
	font-family: alarmclock, Courier, monospace;
	color: var(--alarmred);
	border: 4px solid black;
}

#hud-timer p {
	color: var(--alarmred);
	/* margin: 0px 35%; */
	text-align: center;
	font-size: 200%;
}

#timer-controls {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 30%;
	/* background-color: red; */
	margin: 0;
	border: 4px solid black;
}

.timer-btn {
	background-color: var(--bgGreen);
	width: 50%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.timer-btn:hover {
	background-color: var(--bgButtonHover);
}

#start-reset-btn {
	background-image: url(../images/timergreen.png);
	border-right: 2px dashed black;
}

#stop-btn {
	background-image: url(../images/timerred.png);
	border-left: 2px dashed black;
}

#hud-hiscore {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content:end;
	background-color: var(--bgGreen);
	width: 20%;
	border: 4px solid black;
}

#hiscore-logo {
	height: 70%;
	background-color: darkgrey;
	background-image: url(../images/leaderboard.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border-bottom: 4x black;
}

#hiscore-logo:hover {
	background-color: grey;
	background-image: url(../images/leaderboardwithcolors2.png);
}

#hiscore-controls {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 30%;
	/* background-color: red; */
	margin: 0;
	border: 4px solid black;
}

.hiscore-btn {
	background-color: var(--bgGreen);
	width: 50%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#see-hiscores {
	background-image: url(../images/eyeneutral.png);
	border-right: 2px dashed black;
}

#see-hiscores:hover {
	background-color: var(--bgButtonHover);
	background-image: url(../images/eyehover.png);
}

#clear-hiscores {
	background-image: url(../images/delete.png);
	border-left: 2px dashed black;
}

#clear-hiscores:hover {
	background-color: var(--bgButtonHover);
	background-image: url(../images/deletehover.png);
}

#question {
	height: 15%;
	padding: 20px 50px;
	align-content: center;
}

#answers {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 65%;
	background-color: inherit;
}

#answers ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-around;
	width: 100%;
	height: 100%;
}

#answers ul li {
	display: flex;
}

.answer-button {
	height: 22%;
	align-items: center;
	justify-content: left;
	text-indent: 50px;
	background-color: var(--bgButton);
	margin: 10px 50px 10px 70px;
	border-radius: 15px;
}

.answer-button:hover {
	background-color: var(--bgButtonHover);
}

.answer-button {
	height: 22%;
	align-items: center;
	justify-content: left;
	text-indent: 50px;
	background-color: var(--bgButton);
	margin: 10px 50px 10px 70px;
	border-radius: 15px;
}

#scores-box .hiscoreline {
	height: 20%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 767px) {

	#hud {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		height: 20%;
		padding-left: 25px;
		padding-right: 25px;
	}
	
	#hud-progress {
		/* /* flex-basis: 767px; THIS DOES WORK  */
		height: 40%;
		width: 100%;
	}

	#hud-timer {
		height: 60%;
		width: auto;
		flex: 1 1 100px;
	}

	#hud-hiscore {
		height: 60%;
		width: auto;
		flex: 1 1 100px;
	}

	.answer-button {
		margin: 10px 20px;
	}

	#scores-box {
		width: 80%;
		height: 50%;
		margin-top: 40px;
	}
}